.card--GloboBank {
  --card-background: url("images/globo-front.svg");
  --offset-text-color: rgba(255, 255, 255, 0.9);
}

.card--GloboBank .card__content--back {
  --card-background: url("images/globo-back.svg");
}

.card--GloboBank .number {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 60%;
}

.card--GloboBank .name {
  position: absolute;
  bottom: 1em;
  left: 3em;
}

.card--GloboBank .expiration {
  position: absolute;
  top: 75%;
  left: 40%;
  font-size: 0.8em;
}

.card--GloboBank .chip {
  position: absolute;
  top: 37%;
  left: 12%;
}

.card--GloboBank .logo {
  position: absolute;
  right: 2em;
  top: 1em;
  width: 4em;
}

.card--GloboBank .bank {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.25em;
  position: absolute;
  top: 1.5em;
  left: 2em;
}